$font-color: #ffffff;
$font-opacity: 0.6;
$font-hover-opacity: 0.8;
$color-link: #424551;
$color-placeholder: #9a9ca5;
$color-subtitle: #787a80;

@mixin font-title-section {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1e212c;
}

@mixin font-normal {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

@mixin font-normal-secondary {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow($shadows) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

html,
body {
    font-family: "Lato", sans-serif;
    background-color: #ffffff;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    // border: 1px solid black;
}

.wrapper {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 15px;
    // border: 1px solid black;
}

// .header {
// }

.topbar {
    width: 1920px;
    background: #1e212c;
    &__inner {
        height: 44px;
        @include space-between();
    }

    &__label {
        @include font-normal();
        color: $font-color;
        opacity: $font-opacity;
    }
}

.topbar-menu {
    &__list {
        @include justify-center();
        gap: 32px;
    }

    &__link {
        @include font-normal();
        color: #ffffff;
        opacity: $font-opacity;
        transition: all 0.3s;
        &:hover {
            opacity: $font-hover-opacity;
        }
    }
}
.topbar-choice-of-currency {
    @include justify-center();
    gap: 12px;
}

.topbar-account {
    @include space-between();
    gap: 8px;
}

.account-profile {
    &__list {
        @include justify-center();
    }

    &__link {
        @include font-normal();
        color: $font-color;
        opacity: $font-opacity;
    }
}

// navbar style = = = = = = = = = = =

.navbar {
    &__inner {
        height: 85px;
        @include space-between();
    }

    &__list {
        @include justify-center();
        gap: 40px;
    }

    &__link {
        @include font-normal-secondary();
        color: $color-link;
    }

    &__link--promo {
        color: #ff4242;
    }

    &__input-search {
        width: 380px;
        height: 44px;
        padding: 11px 15px;
        background: #ffffff;
        border: 1px solid #d7dadd;
        border-radius: 4px;
        &::placeholder {
            @include font-normal();
            color: $color-placeholder;
        }
    }
}

.toolbar {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 20px;
}
.toolbar-wishlist {
    @include justify-center();
    gap: 8px;
}
.wishlist {
    &__value {
        @include font-normal();
        font-size: 16px;
    }
}
.toolbar-cart {
    @include justify-center();
    gap: 8px;
}
.cart {
    &__value {
        width: 23px;
        height: 20px;
        background: #03cea4;
        border-radius: 4px;
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        color: $font-color;
        @include justify-center();
    }
}

// special-offers = = = = = = = = = = = = = = = =

.special-offers {
    width: 1920px;
    height: 34px;
    background: #17696a;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        position: relative;
        width: 222px;
    }
}

.special-offers-carousel-container {
    overflow: hidden;
    background-color: transparent;
}

.special-offers-carousel-track {
    &__list {
        display: flex;
        background-color: transparent;
        transition: all 0.2s;
    }

    &__items {
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    &__text {
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        color: $font-color;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-decoration-line: underline;
        color: $font-color;
    }
}
.special-offers-carousel {
    &__buttons {
        position: absolute;
        top: 0;
        left: -35px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 240px;
    }

    &__btn--prev {
        position: relative;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        background: transparent;
        &::after {
            position: absolute;
            top: 6px;
            left: 7px;
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            border-left: 2px solid rgb(255, 255, 255);
            border-bottom: 2px solid rgb(255, 255, 255);
            transform: rotate(45deg);
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__btn--next {
        position: relative;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        background: transparent;
        &::after {
            position: absolute;
            top: 6px;
            left: 7px;
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            border-left: 2px solid rgb(255, 255, 255);
            border-bottom: 2px solid rgb(255, 255, 255);
            transform: rotate(225deg);
        }
        &:hover {
            cursor: pointer;
        }
    }
}

// main style = = = = = = = = = = = = = = = =

.main {
    width: 1920px;
    height: 800px;
    background-image: url(../img/main-slider/image1.jpg);
    background-color: #17696a;

    &__inner {
        position: relative;
        padding-top: 140px;
        width: 1200px;
    }
}

.main-slider {
    &__container {
        overflow: hidden;
        background-color: transparent;
    }

    &__track {
        display: flex;
        background-color: transparent;
        transition: 0.5s;
    }

    // &__item {
    // }

    &__item-text {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #1e212c;
    }

    &__item-title {
        margin-top: 30px;
        margin-bottom: 70px;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 130%;
        letter-spacing: 1px;
        color: #1e212c;
    }

    &__links-group {
        display: flex;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }

    &__link--sale {
        width: 152px;
        height: 52px;
        border: 1px solid #17696a;
        border-radius: 4px;
        border: none;
        @include font-normal-secondary();
        line-height: 52px;
        letter-spacing: 0.5px;
        text-align: center;
        color: #17696a;
        background: transparent;
        border: 1px solid #17696a;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            background: #17696a;
            color: $font-color;
        }
    }

    &__link--large {
        width: 230px;
        height: 52px;
        background: #17696a;
        border-radius: 4px;
        border: none;
        @include font-normal-secondary();
        line-height: 52px;
        letter-spacing: 0.5px;
        text-align: center;
        color: $font-color;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            background: transparent;
            border: 1px solid #17696a;
            color: #17696a;
        }
    }
}

.main-slider {
    &__button {
        width: 48px;
        height: 48px;
        background: #ffffff;
        opacity: 0.5;
        border: none;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &__button-arrow {
        margin: 0 auto;
    }
}

.button-prev {
    position: absolute;
    top: 400px;
    left: -270px;
}
.button-next {
    position: absolute;
    top: 400px;
    right: -270px;
}

.main-slider {
    // .main-slider__pagination

    &__pagination {
        position: absolute;
        top: 560px;
    }
}
.pagination {
    // .pagination__list

    &__list {
        display: flex;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
    }

    // .pagination__item

    &__item {
        display: flex;
        flex-direction: column;
        width: 178px;
        height: 54px;
    }
}
.pagination-item {
    // .pagination-item__count

    &__count {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: $color-link;
        opacity: $font-opacity;
    }

    // .pagination-item__border-bottom

    &__border-bottom {
        width: 178px;
        height: 0px;
        border: 2px solid $color-link;
        border-radius: 2px;
        opacity: $font-opacity;
    }
}

.count__active,
.border-bottom__active {
    opacity: 1;
}

// = = = top-categories = = = = = = = = = = =

.top-categories {
    margin-top: -50px;

    &__inner {
        @include space-between();
    }
}
.categories {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        border-radius: 4px;
        overflow: hidden;
    }
    // &__img {
    // }
    &__discription {
        @include font-normal-secondary();
        font-size: 20px;
        color: $color-link;
    }
}

// = = = new-arrivals = = = = = = = = = =

.new-arrivals {
    margin-top: 150px;
    height: 700px;
    &__inner {
        position: relative;
    }
    &__title {
        @include font-title-section();
        text-align: center;
    }

    &__subtitle {
        @include font-normal-secondary();
        font-size: 18px;
        text-align: center;
        color: $color-subtitle;
    }

    &__link-wrapp {
        text-align: center;
    }

    &__link {
        @include font-normal-secondary();
        font-size: 18px;
        text-decoration-line: underline;
        color: #17696a;
        &:hover {
            cursor: pointer;
        }
    }
}

.new-arrivals__swiper {
    margin-top: 60px;
}

.product-cart {
    position: relative;
    width: 285px;
    height: 413px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.808);
    
    &__img {
        object-fit: contain;
    }

    &__discription-inner {
        margin: 16px;
        display: flex;
        flex-direction: column;
    }

    &__discription {
        @include font-normal-secondary();
        color: $color-link;
    }

    &__price {
        @include font-normal-secondary();
        font-size: 20px;
        color: #1e212c;
    }

    &__favorite-wrapp {
        position: absolute;
        top: 280px;
        right: 20px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #ffffff;
        @include justify-center();
        &:hover {
            background: transparent;
        }
    }
}

.swiper-pagination {
    position: absolute;
    top: 620px;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    background-color: transparent;
    font-size: 15px;
}

.swiper-pagination-bullet::after {
    content: "";
    width: 30px;
    height: 0;
    border: 3px solid #424551;
    display: block;
    border-radius: 2px;
}

.material-symbols-outlined {
    color: #787a80;
}
